html, body {
	background-color: #025A6C;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}


#visualizer {
	margin: 40px;
	border: solid;
	border-radius: 100%;
	border-color: #002B36;
	border-width: 30px;
}
